body{
    margin-top: 5rem;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid gray;
}
h1{
 padding: 1rem;
}

nav{
    width: 100%;
    display: flex;
    padding-top: 2rem;
}

nav a:hover {
    color: rgb(11, 215, 241);
    border-color: rgb(11, 215, 241);
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    padding: 1rem 1.3rem;
    display: inline-block;
    color: black;
    border: .05rem solid gray;
    margin-right: .5rem;
    background-color: rgb(231, 228, 228);
}

.nav-link.active {
    color: #fff;
    background-color: rgb(11, 215, 241);
    border: .05rem solid rgb(11, 215, 241);
}

main {
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.3rem;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 7px rgb(11, 215, 241);
    border-top-style: solid;
}

#kategoriliste {
    padding: 0 1.3rem;
}

a:link {
    color: rgb(11, 215, 241);
  }
